.jd_container {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

.jd_search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000000;
}

.jd_search .jd_search_box {
    width: 100%;
    max-width: 640px;
    min-width:320px;
    height:40px;
    margin:0 auto;
    position: relative;
}
.jd_search .jd_search_box form {
    position: absolute;
    width: 100%;
    padding-left:40px;
    padding-right: 50px;
    height: 40px;
}
.jd_search .jd_search_box form input{
    height: 30px;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 40px;
}

.jd_search .jd_search_box a{
    position: absolute;
    top: 0;
}

.jd_search .jd_search_box .icon_logo {
    width: 40px;
    height: 40px;
    font: 20px "微软雅黑";
    color: #d8505c;
    text-align: center;
    line-height: 40px;
}
.jd_search .jd_search_box .login{
    width: 50px;
    height: 40px;
    right: 0;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.jd_search .jd_search_box form .icon_search {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 45px;
    top:10px;
    background: url(../img/logo_search.png) 0 0 no-repeat;
    /**压缩背景图**/
    background-size:20px 20px ;
}

    /**轮播图**/
.jd_banner {
    width: 100%;
    height: 168px;
    position: relative;
    overflow: hidden;
    top:0;
    left: 0;
}

.jd_banner .jd_banner_container {
    width: 700%;
    height: 168px;
    transform: translateX(-14.2857%);
    -webkit-transform: translateX(-14.2857%);
}

.jd_banner .jd_banner_container li{
    width: 14.2857%;
    height: 168px;
    float: left;
}
.jd_banner .jd_banner_container li a{
    width: 100%;
    height: 168px;
}

.jd_banner .jd_banner_container li a img{
    width: 100%;
    height: 168px;
}
/**小点**/
.jd_banner .jd_banner_dot {
    position: absolute;
    bottom: 8px;
    width: 90px;
    height: 6px;
    left: 50%;
    margin-left: -45px;
}
.jd_banner .jd_banner_dot li{
    width: 6px;
    height: 6px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    float: left;
    margin-left: 10px;
}
.jd_banner .jd_banner_dot li .now {
    background: #ccc;
}

/**导航栏**/
.jd_nav {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.jd_nav ul {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
}
.jd_nav ul li{
    width: 20%;
    float: left;
}
.jd_nav ul li a{
    width: 100%;
    height:60px ;
    display: block;
    text-align: center;

}
.jd_nav ul li a p{
    color: #000;
    margin-top: 2px;
    font-size: 12px;
}

.jd_nav ul li a img{
    width: 34px;
    height: 34px;
    margin: 0 auto;
    display: block;
}

/**商品容器**/
.jd_product {
    width: 100%;
    padding: 0 5px;
}

.jd_proBox {
    margin-top: 10px;
    min-height: 200px;
    box-shadow: 0px 0px 1px #d8d8d8;
    background: #ffffff;
}

.jd_proBox .jd_proBox_tit {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
}
.jd_proBox .jd_proBox_tit.nb {
    border: none;
}

.sk_icon{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    float: left;
    margin-top: 8px;
    background: #d8505c;
}
.sk_text {
    margin-left: 4px;
    float: left;
    color: #d8505c;
}
.sk_time {
    height: 24px;
    margin-top: 7px;
    margin-left: 3px;
    text-align: center;
    float: left;
    line-height: 20px;
}
/**设置冒号宽度**/
.sk_time span:nth-child(3n) {
    width: 10px;
}
.sk_time_black {
    background: #000;
    float: left;
    width: 15px;
    margin-left: 1px;
    color: #fff;
}

/**产品内容**/
.jd_proBox .jd_proBox_cont {
    width:100%;
    padding: 7px 0;
}
.jd_proBox .jd_proBox_cont ul{
    width:100%;
}
.jd_proBox .jd_proBox_cont ul li{
    width:33.33%;
}
.jd_proBox .jd_proBox_cont ul li a{
    width:100%;
    float: left;
}
    /**图片居中**/
.jd_proBox .jd_proBox_cont ul li img{
    width:70%;
    margin-left: 15%;
}
    /**新价格**/
.jd_proBox .jd_proBox_cont ul li .jd_pro_now_price{
    float: left;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color: #d8505c;
}
    /**老价格**/
.jd_proBox .jd_proBox_cont ul li .jd_pro_old_price{
    float: left;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}
    /**第二个商品中间加两杠**/
.jd_proBox .jd_proBox_cont ul li:nth-child(2) a {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.jd_proBox .jd_proBox_tit .vertical_line {
    float: left;
    height: 50%;
    width: 3px;
    margin-top: 8.5px;
    background: #d8505c;
}
.jd_proBox .jd_proBox_tit h3 {
    font-size: 100%;
    font-weight: normal;
    margin-left: 7px;
}
/**京东超市**/
.jd_proBox .jd_store {
    width:100%;
    height: 200px;
}

.w_p50 {
    width: 50%;
    overflow: hidden;
}
.h_p50 {
    height: 100px;
}
.h_p100 {
    height: 200px;
}
.w_p50 img{
    display: block;
    width: 100%;
    height: 100%;
}
.b_right {
    border-right: 1px solid #dddddd;
}
.b_left {
    border-left: 1px solid #dddddd;
}

.b_bottom {
    border-bottom: 1px solid #ddd ;
}

/**京东自营**/
.jd_proBox .jd_self_store {
    width:100%;
    height: 200px;
}


.swiper-container {
    width: 100%;
    min-width: 320px;
    max-width:640px;
}
.jd_banner_a {
    display: block;
}
.jd_banner_a img {
    width: 100%;
}